/*here h1 is selector and {}in this braces the block is called desciptor and inside the descriptor the color is the property and purple is the value*/
/*so there are 5 keywords to remember - selector , descriptor , property , value and one more was there couldnt remember*/
h1 {
    color: purple;
}
/*this selector of id .... # is used for id*/
#header1 {
    color: green;
}
#latest{
    background-color: gray;
}
/* the .(dot) is used for calling the class*/
.navigation { 
    margin: 2px;
}
/*:hover is used to change the color in the link tag*/
a:hover{
    color: black;
}
/*From CSS Version 3, there are five main ways to reference a color.

    By RGB value,

    By RGBA value,

    By HSL value,

    By hex value and

    By predefined color names.

RGB value

RGB is a color model that adds the colors red (R), green (G) and blue (B) together to create colors. This is based on how the human eye sees colors.

Each value is defined as a number between 0 and 255, representing the intensity of that color.

For example, the color red would have the RGB value of 255,0,0 since the intensity of the red color would be 100% while blue and green would be 0%.

The color black then would be 0,0,0 and the color white 255,255,255.

When using RGB values in CSS, they can be defined using the rgb keyword:*/
/*p { 
    color: rgb(255, 0, 0); 
  }
*/


/*RGBA value

RGBA is an extension of RGB that add an alpha (A) channel. The alpha channel represents the opacity, or transparency, of the color.

Similar to RGB, this is specified in CSS using the rgba keyword:*/

#para99 { 
    color: rgba(255, 0, 0, 128); 
  }

 /* HSL value

  HSL is a newer color model defined as Hue (H), Saturation (S) and Lightness (L). The aim of the model is to simplify mental visualization of the color that the value represents.
  
  Think of a rainbow that has been turned into a full circle. This represents the Hue. The Hue value is the degree value on this circle, from 0 degrees to 360 degrees. 0 is red, 120 is green and 240 is blue.
  Color gradient palette displaying Hue and Saturation
  
  Saturation is the distance from the center of the circle to its edge. The saturation value is represented by a percentage from 0% to 100% where 0% is the center of the circle and 100% is its edge. For example, 0% will mean that the color is more grey and 100% represents the full color.
  
  Lightness is the third element of this color model. Think of it as turning the circle into a 3D cylinder where the bottom of the cylinder is more black and toward the top is more white. Therefore, lightness is the distance from the bottom of the cylinder to the top. Again, lightness is represented by a percentage from 0% to 100% where 0% is the bottom of the cylinder and 100% is its top. In other words, 0% will mean that the color is more black and 100% is white.
  Color Diagram for Hue, Saturation and Lightness
*/

p { 
    color: hsl(0, 100%, 50%);
  }

/*Predefined color names

Modern web browsers support 140 predefined color names. These color names are for convenience purposes and can be mapped to equivalent hex/RGB/HSL values.

Some common color names available are listed below.*/

/*black
silver
gray
white
maroon
red
purple
fuchsia
green
lime
olive
yellow
navy
blue
teal
aqua*/

p { 
    font-family: "Courier New", monospace;
    font-size: 12px;
  }

  p { 
    text-decoration: underline red solid 5px;
  }
  p { 
    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 5px;
  }